---
import { getCollection } from "astro:content";
import Layout from "~/components/Layout.astro";
import { Search } from "~/components/qwik/Search";
import { getRandomElements } from "~/lib/utils";

const rawElements = await getCollection("elements");
const elements = rawElements.map((element) => element.data);

const CACHE_DURATION = 24 * 60 * 60 * 1000; // 1 day

const randomElements = getRandomElements(elements, CACHE_DURATION);
---

<Layout title="Element.al">
  <div class="mx-auto max-w-7xl">
    <div class="mb-12 text-center">
      <h1 class="mb-4 text-4xl font-bold text-gray-900 dark:text-white">
        Element.al
      </h1>
      <p class="text-lg text-gray-600 dark:text-gray-300">
        Discover the fascinating world of chemical elements
      </p>
      <p class="text-lg text-gray-600 dark:text-gray-300">
        You can search by name, atomic number or symbol.
      </p>
    </div>
    <Search elements={elements} />
    <div class="mb-12 text-center">
      <h2 class="my-4 text-2xl font-bold text-gray-900 dark:text-white">
        About Us
      </h2>
      <p class="text-lg text-gray-600 dark:text-gray-300">
        Element.al is a collaborative project created by
      </p>
      <div class="mb-4 mt-4 flex justify-center gap-4">
        <a
          href="https://github.com/delta6626"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="/delta.png"
            alt="Delta6626"
            class="mx-auto h-12 w-12 rounded-full transition-transform hover:scale-110"
          />
        </a>
        <a href="https://souvlaki.me" target="_blank" rel="noopener noreferrer">
          <img
            src="/souvlaki42.png"
            alt="Souvlaki42"
            class="mx-auto h-12 w-12 rounded-full transition-transform hover:scale-110"
          />
        </a>
      </div>
    </div>
    <div class="mb-12 text-center">
      <h2 class="mb-4 text-2xl font-bold text-gray-900 dark:text-white">
        Today's Elements
      </h2>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        {
          randomElements.map((element) => (
            <a
              href={`/elements/${element.atomicNumber}`}
              class="rounded-lg bg-white p-6 shadow-md transition-transform hover:scale-105 dark:bg-gray-800"
            >
              <h3 class="mb-2 text-lg font-bold text-gray-900 dark:text-white">
                {element.name}
              </h3>
              <p class="text-lg text-gray-600 dark:text-gray-300">
                {element.symbol} - {element.atomicNumber}
              </p>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
